---

---

<section class="history">
    <h2 class="heading">
    <svg
        xmlns="http://www.w3.org/2000/svg"
        width="40"
        height="40"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="1.5"
        stroke-linecap="round"
        stroke-linejoin="round"
    >
        <path d="M5 3v18" />
        <path d="M19 21v-18" />
        <path d="M5 7h14" />
        <path d="M5 15h14" />
        <path d="M8 13v4" />
        <path d="M11 13v4" />
        <path d="M16 13v4" />
        <path d="M14 5v4" />
        <path d="M11 5v4" />
        <path d="M8 5v4" />
        <path d="M3 21h18" />
    </svg>
        Mis habilidades
    </h2>

    <div class="tags">
        <span class="tag">HTML</span>
        <span class="tag">CSS</span>
        <span class="tag">Javascript</span>
        <span class="tag">PHP</span>
        <span class="tag">MySQL</span>
        <span class="tag">Node.js</span>
        <span class="tag">Astro.js</span>
        <span class="tag">Git</span>
        <span class="tag">Wordpress</span>
        <span class="tag">WooCommerce</span>
        <span class="tag">Midjourney</span>
        <span class="tag">Claude MCP</span>
        <span class="tag">Looker Studio</span>
        <span class="tag">Miro</span>
        <span class="tag">Power BI</span>
        <span class="tag">Google Analytics</span>
        <span class="tag">Adobe Suite</span>
        <span class="tag">Figma</span>
        <span class="tag">n8n</span>
        <span class="tag">Kanban/Scrum</span>
        <span class="tag">Salesforce</span>
        <span class="tag">Eloqua</span>
        <span class="tag">Masterbase</span>
        <span class="tag">Asana</span>
        <span class="tag">Notion</span>
    </div>

</section>

<style>
    .tags {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        margin-top: 1rem;
    }

    .tag {
        display: inline-block;
        background-color: var(--color-light);
        color: var(--color-dark);
        padding: 0.5rem 1rem;
        border-radius: var(--border-radius);
        font-size: var(--font-size-small);
        font-weight: 500;
    }
</style>